$colors: (
    'common': (
        'white': #ffffff,
        'white-2': #E4E8F0,
        'white-3': #F0F0F6,
        'black-solid': #000,
        'black': #0A0F17,
        'black-2': #0C121C,
        'black-3': #121A24,
        'black-4': #5B5B5C,
        'black-5': #0A0F17,
        'black-6': #192553,
    ),
    'dark': (
        'white': #ffffff,
        'black-solid': #000,
        'black': #0A0F17,
        'black-2': #0C121C,
        'black-3': #121A24,
        'black-4': #0A0F17,
        'black-5': #0A0F17,
    ),
    'yellow': (
        '1': #FF8C66,
    ),
    'pink': (
        '1': #FF268C,
        '2': #FF268C,
    ),
    'green': (
        'dark': #1AF2F2,
        '1': #1AF2F2,
        '2': #1AF2F2,
    ),
    'khaki': (
        '1': #AB9774,
    ),
    'blue': (
        '1': #1AF2F2,
        '2': #1AF2F2,
    ),
    'orange': (
        '1': #FF8C66,
    ),
    'heading': (
        'primary': #0A0F17,
        'secondary': #0C121C,
    ),
    'headingDark': (
        'primary': #0A0F17,
        'secondary': #0C121C,
    ),
    'grey': (
        '1':#F6F7F9,
        '2':#2F3862,
        '3':#F6F9FF,
        '4':#DDDDE7,
    ),
    'text': (
        'body':#55585B,
        '1':#767A7D,
    ),
    'theme': (
        'primary': #1AF2F2,
        'secondary': #0C121C,
    ),
    'footer': (
        'grey-1': #F4F7F9
    ),
    'border': (
        'primary': #EAEBED,
        'secondary': #F0F2F4,
    )
);

$white : #fff;
$black : #0A0F17;
$theme-primary : #1AF2F2;
$border-primary : #EAEBED;